modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34319
externalPort = 3000

[workflows]
runButton = "Dev Server with Guesty Credentials"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Server"
author = 41304928
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev Server with Guesty Credentials"
author = 41304928
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "GUESTY_CLIENT_ID=0oaoaalj2bD2CaF4B5d7 GUESTY_CLIENT_SECRET=AJ9Li2ZbRUX5Td8ldPjs_BwTLJHH3aQIa1yJ2y-qvIPYAE_nk1ppaaaxAGilBZVK npm run dev"
